<div class="container"><br/>
  <div class="container-fluid">
    <ul>
      <li>This is an Angular Web Application</li>
      <li>AngularJS 4 and Boostrap 4 are being used in this application</li>
      <li>Application contains of below features:
        <ul>
          <li>The grid with CRUD operation</li>
          <li>Ability to filter the data in the GRID by name</li>
          <li>Added menu bar to showcases single page application</li>
          <li>Written basic unit test coverage</li>
        </ul>
      </li>
    </ul>
  </div>
</div>